<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">
</head>

<body>
    <div class="product-card">
        <img src="product.jpg" alt="Товар" class="product-img">
        <div class="product-footer">
            <span class="price">161 грн.</span>
            <button class="buy-btn">
                <span>В корзину</span> 🛒
            </button>
        </div>
    </div>


</body>

</html>