.footer {

    width: 100%;

    margin-top: auto;
}

.footer-top {
    display: flex;
    justify-content: space-around;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

}

.social-img:hover {
    cursor: pointer;
}

.footer__list p span:hover {
    color: #D72200;

}

.footer__list.nav p:hover {
    color: #D72200;
}

.footer__list.menu p:hover {
    color: #D72200;
}

.footer__list p {
    font-weight: 400;
    font-size: 1.1rem;
}

.footer__list-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.footer-logo {
    margin-bottom: 3.5rem;
}


.footer__social-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}