*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}


.wrapper {
  background-image: url(/public/images/main-bg.svg);
  max-width: 100vw;
}