*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;


}

body {
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
}



.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url(/public/images/main-bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}